.container {
  padding: 0 0;
  min-height: 100vh;
}

.main {
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6rem;
  font-weight: 300;
}
/* 
.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.title b {
  font-weight: 900;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    max-width: 70%;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
